-gold_perc = ((current_user.uncollected_gold.to_f/@max_carry_gold) * 100).ceil
-mana_perc = ((current_user.uncollected_mana.to_f/@max_carry_mana) * 100).ceil

.panel.panel-default
  .panel-heading= "Status: (Updates on the hour) #{time_till_next_update} untill next update"
  %table.table
    %tbody
      %tr
        %td.text-right Gold:
        %td.text-left="#{current_user.gold}"
        %td.text-right=current_user.uncollected_gold == @max_carry_gold ? "(Full)" : "#{@gold_per_refresh}"
        %td{style:"width:50%"}
          .progress{style:"margin-bottom:0"}
            .progress-bar.progress-bar-warning{"aria-valuemax" => "#{@max_carry_gold}",
            "aria-valuemin" => "20", "aria-valuenow" => "#{current_user.uncollected_gold}", :role => "progressbar",
            style: "width: #{gold_perc}%;"} #{current_user.uncollected_gold}
        %td
          = form_tag("activities/collect", method: "post") do
            = hidden_field_tag "resource", 'gold'
            = submit_tag("Collect Tribute", class:'btn btn-default btn-xs')
      %tr
        %td.text-right Mana:
        %td.text-left="#{current_user.mana}/#{@mana_capacity}"
        %td.text-right=current_user.uncollected_mana == @max_carry_mana ? "(Full)" : "#{@mana_per_refresh}"
        %td
          .progress{style:"margin-bottom:0"}
            .progress-bar.progress-bar-info{"aria-valuemax" => "#{@max_carry_mana}",
            "aria-valuemin" => "20", "aria-valuenow" => "#{current_user.uncollected_mana}", :role => "progressbar",
            style: "width: #{mana_perc}%;"} #{current_user.uncollected_mana}
        %td
          = form_tag("activities/collect", method: "post") do
            = hidden_field_tag "resource", 'mana'
            = submit_tag("Collect Prayer", class:'btn btn-default btn-xs')
      %tr
        %td{colspan:5}
          ="Payment for your troops are deducted with each update.  If you can't pay them, their morale will lower.  With lower morale, you have an increased chance for units abandoning you."
      %tr
        %td.text-right{style:"width:15%"}
          %span=link_to "<i class='fa fa-info-circle'></i>".html_safe, "#", class:"favor-info",title: "Favor Help", tabindex: 0,
                      data: { toggle: "popover", trigger:"focus", content: "The higher the favor, the more successful you will be when recruiting troops.  Troops will also be far less willing to abandon your cause" }
          ="Favor"
        %td{colspan:3,style:"width:50%"}
          .progress{style:"margin-bottom:0"}
            .progress-bar.progress-bar-warning{"aria-valuemax" => "100",
            "aria-valuemin" => "0", "aria-valuenow" => "#{current_user.favor}", :role => "progressbar",
            style: "width: #{current_user.favor}%;"} #{current_user.favor}
        %td
          =link_to("Raise Morale", '/morale', class:'btn btn-default btn-xs')
:javascript
  $(document).ready(function(e){
    $(".favor-info").popover({placement : 'right' }).on('click', function(e) {e.preventDefault(); return true;});
  });