-gold_perc = ((current_user.uncollected_gold.to_f/@max_carry_gold) * 100).ceil
-mana_perc = ((current_user.uncollected_mana.to_f/@max_carry_mana) * 100).ceil
-time_till_gold = 'Full'
-time_till_mana = 'Full'
-time_till_gold = distance_of_time_in_words(gold_time_left) if current_user.gold_collect_again_at > Time.now
-time_till_mana = distance_of_time_in_words(mana_time_left) if current_user.mana_collect_again_at > Time.now

.panel.panel-default
  .panel-heading Status
  %table.table
    %tbody
      %tr
        %td.text-right Gold:
        %td.text-left="#{current_user.gold}"
        %td.text-right="+#{@gold_per_refresh} (#{time_till_gold})"
        %td{style:"width:50%"}
          .progress{style:"margin-bottom:0"}
            .progress-bar.progress-bar-warning{"aria-valuemax" => "#{@max_carry_gold}",
            "aria-valuemin" => "20", "aria-valuenow" => "#{current_user.uncollected_gold}", :role => "progressbar",
            style: "width: #{gold_perc}%;"} #{current_user.uncollected_gold}
        %td
          = form_tag("activities/collect", method: "post") do
            = hidden_field_tag "resource", 'gold'
            = submit_tag("Collect", class:'btn btn-default btn-xs')
      %tr
        %td.text-right Mana:
        %td.text-left="#{current_user.mana}/#{@mana_capacity}"
        %td.text-right="+#{@mana_per_refresh} (#{time_till_mana})"
        %td
          .progress{style:"margin-bottom:0"}
            .progress-bar.progress-bar-info{"aria-valuemax" => "#{@max_carry_mana}",
            "aria-valuemin" => "20", "aria-valuenow" => "#{current_user.uncollected_mana}", :role => "progressbar",
            style: "width: #{mana_perc}%;"} #{current_user.uncollected_mana}
        %td
          = form_tag("activities/collect", method: "post") do
            = hidden_field_tag "resource", 'mana'
            = submit_tag("Collect", class:'btn btn-default btn-xs')